<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ty.pms.dao.time.day2day.Day2DayMapper">

	<resultMap id="resultMap" type="day2day">
		<id column="d2Id" property="d2Id" jdbcType="VARCHAR" />
		<result column="d2Descrip" property="d2Descrip" jdbcType="VARCHAR" />
		
		<result column="occurrencedTime" property="occurrencedTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
		
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="delFlag" property="delFlag" jdbcType="TINYINT" />
	</resultMap>
	
	<!-- 分页  -->
	<sql id="limitPage">
   		 <if test="skipResults!=null">
			limit #{skipResults},#{maxResults}
   		 </if>
	</sql>
	
	<!-- 列举所有字段 -->
	<sql id="allColumns">
		d2Id,d2Descrip,
		occurrencedTime,endTime,createdTime,lastModifyTime,
  		owner,createdBy,updatedBy,remark,delFlag
	</sql>
	<!-- 统计查询结果数 -->
	<sql id="selectCount">
		SELECT COUNT(*) FROM
	</sql>
	<!-- 根据发生时间降序排序 -->
	<sql id="createdTimeDESC">
		ORDER BY occurrencedTime DESC
	</sql>
	
	<insert id="insertSelective" parameterType="day2day">
		insert into day2day
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="d2Id != null">
				d2Id,
			</if>
			<if test="d2Descrip != null">
				d2Descrip,
			</if>
			
			<if test="occurrencedTime != null">
				occurrencedTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime,
			</if>
			<if test="createdTime != null">
				createdTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				delFlag
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="d2Id != null">
				#{d2Id,jdbcType=VARCHAR},
			</if>
			<if test="d2Descrip != null">
				#{d2Descrip,jdbcType=VARCHAR},
			</if>
			
			<if test="occurrencedTime != null">
				#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="day2day">
		update day2day
		<set>
			<if test="d2Descrip != null">
				d2Descrip = #{d2Descrip,jdbcType=VARCHAR},
			</if>
		
			<if test="occurrencedTime != null">
				occurrencedTime=#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime=#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime=#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				createdTime=#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				owner=#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				createdBy=#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				updatedBy=#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark=#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				delFlag=#{delFlag,jdbcType=TINYINT}
			</if>
		</set>
		where d2Id = #{d2Id,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from day2day
		where d2Id = #{d2Id,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectByPrimaryKey" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from day2day
		where d2Id = #{d2Id,jdbcType=VARCHAR} and delFlag=0
	</select>
	
	<!-- 根据描述模糊查询 -->
	<select id="selectByName" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from day2day where delFlag=0
		and d2Descrip like CONCAT('%',#{d2Descrip},'%' )
	</select>
	
	<select resultType="int" id="getAllCount">
		<include refid="selectCount" /> day2day 
		where delFlag=0
	</select>
	<select id="getAll" resultMap="resultMap">
		select
		<include refid="allColumns" />
		from day2day 
		where delFlag=0
		<include refid="createdTimeDESC" />
	</select>
	
    <select id="getByCriteriaCount" resultType="int" parameterType="day2dayCriteria">
    	<include refid="selectCount" /> day2day
    	<where>
    		delFlag=0
    		<if test="d2Descrip != null">
				and d2Descrip = #{d2Descrip}
			</if>
			<if test="d2DescripList != null">
   			 	and d2Descrip in
		      	<foreach collection="d2DescripList" item="d2Descrip" index="index" open="(" close=")" separator=",">
		            #{d2Descrip}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
    	</where>
    </select>
    
    <select id="getByCriteria" resultMap="resultMap" resultType="day2dayResult" parameterType="day2dayCriteria">
    	select <include refid="allColumns" /> from day2day 
    	<where>
    		delFlag=0
    		<if test="d2Descrip != null">
				and d2Descrip = #{d2Descrip}
			</if>
			<if test="d2DescripList != null">
   			 	and d2Descrip in
		      	<foreach collection="d2DescripList" item="d2Descrip" index="index" open="(" close=")" separator=",">
		            #{d2Descrip}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			<if test="ownerList != null">
   			 	and owner in
		      	<foreach collection="ownerList" item="owner" index="index" open="(" close=")" separator=",">
		            #{owner}
		        </foreach>
  			</if>
  			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' )
			</if>
    	</where>
    	<include refid="createdTimeDESC" />
    	<include refid="limitPage" />
    </select>
    
</mapper>