<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ty.pms.dao.common.cause.CauseMapper">

	<resultMap id="resultMap" type="Cause">
		<id column="causeId" property="causeId" jdbcType="VARCHAR" />
		<result column="causeName" property="causeName" jdbcType="VARCHAR" />
		
		<result column="occurrencedTime" property="occurrencedTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
		
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="delFlag" property="delFlag" jdbcType="TINYINT" />
		
		<result column="parentId" property="parentId" jdbcType="VARCHAR" />
		<result column="causeType" property="causeType" jdbcType="INTEGER" />
		
	</resultMap>
	
	<!-- 分页  -->
	<sql id="limitPage">
   		 <if test="skipResults!=null">
			limit #{skipResults},#{maxResults}
   		 </if>
	</sql>
	
	<!-- 列举所有字段 -->
	<sql id="allColumns">
		causeId,causeName,
		occurrencedTime,endTime,createdTime,lastModifyTime,
  		owner,createdBy,updatedBy,remark,
  		parentId,causeType,
  		delFlag
	</sql>
	<!-- 统计查询结果数 -->
	<sql id="selectCount">
		SELECT COUNT(*) FROM
	</sql>
	<!-- 根据发生时间降序排序 -->
	<sql id="createdTimeDESC">
		ORDER BY occurrencedTime DESC
	</sql>
	
	<insert id="insertSelective" parameterType="Cause">
		insert into Cause
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="causeId != null">
				causeId,
			</if>
			<if test="causeName != null">
				causeName,
			</if>
			
			<if test="occurrencedTime != null">
				occurrencedTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime,
			</if>
			<if test="createdTime != null">
				createdTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="parentId != null">
				parentId,
			</if>
			<if test="causeType != null">
				causeType,
			</if>
			<if test="delFlag != null">
				delFlag
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="causeId != null">
				#{causeId,jdbcType=VARCHAR},
			</if>
			<if test="causeName != null">
				#{causeName,jdbcType=VARCHAR},
			</if>
			
			<if test="occurrencedTime != null">
				#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR}, 
			</if>
			<if test="causeType != null">
				#{causeType,jdbcType=INTEGER},
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="Cause">
		update Cause
		<set>
			<if test="parentId != null">
				parentId=#{parentId,jdbcType=VARCHAR}, 
			</if>
			<if test="causeType != null">
				causeType=#{causeType,jdbcType=INTEGER},
			</if>
			<if test="causeName != null">
				causeName = #{causeName,jdbcType=VARCHAR},
			</if>
			<if test="occurrencedTime != null">
				occurrencedTime=#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime=#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime=#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				createdTime=#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				owner=#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				createdBy=#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				updatedBy=#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark=#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				delFlag=#{delFlag,jdbcType=TINYINT}
			</if>
		</set>
		where causeId = #{causeId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from Cause
		where causeId = #{causeId,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectByPrimaryKey" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from Cause
		where causeId = #{causeId,jdbcType=VARCHAR} and delFlag=0
	</select>
	
	<!-- 根据名称查询 -->
	<select id="selectByName" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from Cause where delFlag=0
		and causeName = #{causeName,jdbcType=VARCHAR}
	</select>
	
	<select resultType="int" id="getAllCount">
		<include refid="selectCount" /> Cause 
		where delFlag=0
	</select>
	<select id="getAll" resultMap="resultMap">
		select
		<include refid="allColumns" />
		from Cause 
		where delFlag=0
		<include refid="createdTimeDESC" />
	</select>
	
    <select id="getByCriteriaCount" resultType="int" parameterType="CauseCriteria">
    	<include refid="selectCount" /> Cause
    	<where>
    		delFlag=0
    		<if test="parentId != null">
				and parentId = #{parentId}
			</if>
			<if test="parentIdList != null">
   			 	and parentId in
		      	<foreach collection="parentIdList" item="parentId" index="index" open="(" close=")" separator=",">
		            #{parentId}
		        </foreach>
  			</if>
  			
			<if test="causeType != null">
				and causeType = #{causeType}
			</if>
			<if test="causeTypeList != null">
   			 	and causeType in
		      	<foreach collection="causeTypeList" item="causeType" index="index" open="(" close=")" separator=",">
		            #{causeType}
		        </foreach>
  			</if>
  			
    		<if test="causeName != null">
				and causeName = #{causeName}
			</if>
			<if test="causeNameList != null">
   			 	and causeName in
		      	<foreach collection="causeNameList" item="causeName" index="index" open="(" close=")" separator=",">
		            #{causeName}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
    	</where>
    </select>
    
    <select id="getByCriteria" resultMap="resultMap" resultType="CauseResult" parameterType="CauseCriteria">
    	select <include refid="allColumns" /> from Cause 
    	<where>
    		delFlag=0
    		<if test="parentId != null">
				and parentId = #{parentId}
			</if>
			<if test="parentIdList != null">
   			 	and parentId in
		      	<foreach collection="parentIdList" item="parentId" index="index" open="(" close=")" separator=",">
		            #{parentId}
		        </foreach>
  			</if>
  			
			<if test="causeType != null">
				and causeType = #{causeType}
			</if>
			<if test="causeTypeList != null">
   			 	and causeType in
		      	<foreach collection="causeTypeList" item="causeType" index="index" open="(" close=")" separator=",">
		            #{causeType}
		        </foreach>
  			</if>
  			
    		<if test="causeName != null">
				and causeName = #{causeName}
			</if>
			<if test="causeNameList != null">
   			 	and causeName in
		      	<foreach collection="causeNameList" item="causeName" index="index" open="(" close=")" separator=",">
		            #{causeName}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' )
			</if>
    	</where>
    	<include refid="createdTimeDESC" />
    	<include refid="limitPage" />
    </select>
    
</mapper>