<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ty.pms.dao.account.expenditure.ExpenditureMapper">

	<resultMap id="resultMap" type="Expenditure">
		<id column="expenditureId" property="expenditureId" jdbcType="VARCHAR" />
		<result column="expenditureAmount" property="expenditureAmount" jdbcType="DECIMAL" />
		
		<result column="occurrencedTime" property="occurrencedTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
		
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="delFlag" property="delFlag" jdbcType="TINYINT" />
	</resultMap>
	
	<!-- 分页  -->
	<sql id="limitPage">
   		 <if test="skipResults!=null">
			limit #{skipResults},#{maxResults}
   		 </if>
	</sql>
	
	<!-- 列举所有字段 -->
	<sql id="allColumns">
		expenditureId,expenditureAmount,
		occurrencedTime,endTime,createdTime,lastModifyTime,
  		owner,createdBy,updatedBy,remark,delFlag
	</sql>
	<!-- 统计查询结果数 -->
	<sql id="selectCount">
		SELECT COUNT(*) FROM
	</sql>
	<!-- 根据发生时间降序排序 -->
	<sql id="createdTimeDESC">
		ORDER BY occurrencedTime DESC
	</sql>
	
	<insert id="insertSelective" parameterType="Expenditure">
		insert into expenditure
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="expenditureId != null">
				expenditureId,
			</if>
			<if test="expenditureAmount != null">
				expenditureAmount,
			</if>
			
			<if test="occurrencedTime != null">
				occurrencedTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime,
			</if>
			<if test="createdTime != null">
				createdTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				delFlag
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="expenditureId != null">
				#{expenditureId,jdbcType=VARCHAR},
			</if>
			<if test="expenditureAmount != null">
				#{expenditureAmount,jdbcType=VARCHAR},
			</if>
			
			<if test="occurrencedTime != null">
				#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="Expenditure">
		update expenditure
		<set>
			<if test="expenditureAmount != null">
				expenditureAmount = #{expenditureAmount,jdbcType=DECIMAL},
			</if>
		
			<if test="occurrencedTime != null">
				occurrencedTime=#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime=#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime=#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				createdTime=#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				owner=#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				createdBy=#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				updatedBy=#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark=#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				delFlag=#{delFlag,jdbcType=TINYINT}
			</if>
		</set>
		where expenditureId = #{expenditureId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from expenditure
		where expenditureId = #{expenditureId,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectByPrimaryKey" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from expenditure
		where expenditureId = #{expenditureId,jdbcType=VARCHAR} and delFlag=0
	</select>
	
	<!-- 根据金额查询 -->
	<select id="selectByName" resultMap="resultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from expenditure where delFlag=0
		and expenditureAmount = #{expenditureAmount,jdbcType=DECIMAL}
	</select>
	
	<select resultType="int" id="getAllCount">
		<include refid="selectCount" /> expenditure 
		where delFlag=0
	</select>
	<select id="getAll" resultMap="resultMap">
		select
		<include refid="allColumns" />
		from expenditure 
		where delFlag=0
		<include refid="createdTimeDESC" />
	</select>
	
    <select id="getByCriteriaCount" resultType="int" parameterType="ExpenditureCriteria">
    	<include refid="selectCount" /> expenditure
    	<where>
    		delFlag=0
    		<if test="expenditureAmount != null">
				and expenditureAmount = #{expenditureAmount}
			</if>
			
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
    	</where>
    </select>
    
    <select id="getByCriteria" resultMap="resultMap" resultType="ExpenditureResult" parameterType="ExpenditureCriteria">
    	select <include refid="allColumns" /> from expenditure 
    	<where>
    		delFlag=0
    		<if test="expenditureAmount != null">
				and expenditureAmount = #{expenditureAmount}
			</if>
			<if test="expenditureAmountBegin != null">
				<![CDATA[
				and expenditureAmount >= #{expenditureAmountBegin}
				]]>   
			</if>
  			<if test="expenditureAmountEnd != null">
				<![CDATA[
				and expenditureAmount <= #{expenditureAmountEnd}
				]]>   
			</if>
			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			<if test="occurrencedTimeBegin != null">
				<![CDATA[
				and occurrencedTime>=#{occurrencedTimeBegin}
				]]>     
			</if>
			<if test="occurrencedTimeEnd != null">
				<![CDATA[
				and occurrencedTime<=#{occurrencedTimeEnd}
				]]>     
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			<if test="endTimeBegin != null">
				<![CDATA[
				and endTime>=#{endTimeBegin}
				]]>     
			</if>
			<if test="endTimeEnd != null">
				<![CDATA[
				and endTime<=#{endTimeEnd}
				]]>     
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			<if test="ownerList != null">
   			 	and owner in
		      	<foreach collection="ownerList" item="owner" index="index" open="(" close=")" separator=",">
		            #{owner}
		        </foreach>
  			</if>
  			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			<if test="createdByList != null">
   			 	and createdBy in
		      	<foreach collection="createdByList" item="createdBy" index="index" open="(" close=")" separator=",">
		            #{createdBy}
		        </foreach>
  			</if>
  			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			<if test="updatedByList != null">
   			 	and createdBy in
		      	<foreach collection="updatedByList" item="updatedBy" index="index" open="(" close=")" separator=",">
		            #{updatedBy}
		        </foreach>
  			</if>
  			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' )
			</if>
    	</where>
    	<include refid="createdTimeDESC" />
    	<include refid="limitPage" />
    </select>
    
</mapper>