<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ty.pms.dao.common.unit.UnitMapper">

	<resultMap id="unitResultMap" type="unit">
		<id column="unitId" property="unitId" jdbcType="VARCHAR" />
		<result column="unitName" property="unitName" jdbcType="VARCHAR" />
		
		<result column="occurrencedTime" property="occurrencedTime" jdbcType="TIMESTAMP" />
		<result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
		<result column="createdTime" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="TIMESTAMP" />
		
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="delFlag" property="delFlag" jdbcType="TINYINT" />
	</resultMap>
	
	<!-- 分页  -->
	<sql id="limitPage">
   		 <if test="skipResults!=null">
			limit #{skipResults},#{maxResults}
   		 </if>
	</sql>
	
	<!-- 列举所有字段 -->
	<sql id="allColumns">
		unitId,unitName,
		occurrencedTime,endTime,createdTime,lastModifyTime,
  		owner,createdBy,updatedBy,remark,delFlag
	</sql>
	<!-- 统计查询结果数 -->
	<sql id="selectCount">
		SELECT COUNT(*) FROM
	</sql>
	<!-- 根据发生时间降序排序 -->
	<sql id="createdTimeDESC">
		ORDER BY createdTime DESC
	</sql>
	
	<insert id="insertSelective" parameterType="unit">
		insert into unit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="unitId != null">
				unitId,
			</if>
			<if test="unitName != null">
				unitName,
			</if>
			
			<if test="occurrencedTime != null">
				occurrencedTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime,
			</if>
			<if test="createdTime != null">
				createdTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				delFlag
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="unitId != null">
				#{unitId,jdbcType=VARCHAR},
			</if>
			<if test="unitName != null">
				#{unitName,jdbcType=VARCHAR},
			</if>
			
			<if test="occurrencedTime != null">
				#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT}
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="unit">
		update unit
		<set>
			<if test="unitName != null">
				unitName = #{unitName,jdbcType=VARCHAR},
			</if>
		
			<if test="occurrencedTime != null">
				occurrencedTime=#{occurrencedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endTime != null">
				endTime=#{endTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime=#{lastModifyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createdTime != null">
				createdTime=#{createdTime,jdbcType=TIMESTAMP},
			</if>
			<if test="owner != null">
				owner=#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				createdBy=#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				updatedBy=#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark=#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				delFlag=#{delFlag,jdbcType=TINYINT}
			</if>
		</set>
		where unitId = #{unitId,jdbcType=VARCHAR}
	</update>
	
	<delete id="deleteByPrimaryKey" parameterType="int">
		delete from unit
		where unitId = #{unitId,jdbcType=VARCHAR}
	</delete>
	
	<select id="selectByPrimaryKey" resultMap="unitResultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from unit
		where unitId = #{unitId,jdbcType=VARCHAR} and delFlag=0
	</select>

	<select id="selectByName" resultMap="unitResultMap" parameterType="str">
		select
		<include refid="allColumns" />
		from unit
		where unitName = #{unitName,jdbcType=VARCHAR} and delFlag=0
	</select>
	
	<select resultType="int" id="getAllCount">
		<include refid="selectCount" /> unit 
		where delFlag=0
	</select>
	<select id="getAll" resultMap="unitResultMap">
		select
		<include refid="allColumns" />
		from unit 
		where delFlag=0
		<include refid="createdTimeDESC" />
	</select>
	
    <select id="getByCriteriaCount" resultType="int" parameterType="unitCriteria">
    	<include refid="selectCount" /> unit
    	<where>
    		delFlag=0
    		<if test="unitName != null">
				and unitName = #{unitName}
			</if>
			<if test="unitNameList != null">
   			 	and unitName in
		      	<foreach collection="unitNameList" item="unitName" index="index" open="(" close=")" separator=",">
		            #{unitName}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' ) 
			</if>
    	</where>
    </select>
    
    <select id="getByCriteria" resultMap="unitResultMap" resultType="unitResult" parameterType="unitCriteria">
    	select <include refid="allColumns" /> from unit 
    	<where>
    		delFlag=0
    		<if test="unitName != null">
				and unitName = #{unitName}
			</if>
			<if test="unitNameList != null">
   			 	and unitName in
		      	<foreach collection="unitNameList" item="unitName" index="index" open="(" close=")" separator=",">
		            #{unitName}
		        </foreach>
  			</if>
  			
			<if test="occurrencedTime != null">
				and occurrencedTime=#{occurrencedTime}
			</if>
			
			<if test="endTime != null">
				and endTime=#{endTime}
			</if>
			
			<if test="lastModifyTime != null">
				and lastModifyTime=#{lastModifyTime}
			</if>
			
			<if test="createdTime != null">
				and createdTime=#{createdTime}
			</if>
			<if test="createdTimeBegin != null">
				<![CDATA[
				and createdTime>=#{createdTimeBegin}
				]]>     
			</if>
			<if test="createdTimeEnd != null">
				<![CDATA[
				and createdTime<=#{createdTimeEnd}
				]]>     
			</if>
			
			<if test="owner != null">
				and owner=#{owner}
			</if>
			
			<if test="createdBy != null">
				and createdBy=#{createdBy}
			</if>
			
			<if test="updatedBy != null">
				and updatedBy=#{updatedBy}
			</if>
			
			<if test="remark != null">
				 and remark like CONCAT('%','${remark}','%' )
			</if>
    	</where>
    	<include refid="createdTimeDESC" />
    	<include refid="limitPage" />
    </select>
    
</mapper>