<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ty.pms.dao.user.UserMapper">

	<resultMap id="BaseResultMap" type="ty.pms.model.user.UserCriteria">
		<id column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		
		<result column="occurrencedTime" property="occurrencedTime" jdbcType="DATE" />
		<result column="endTime" property="endTime" jdbcType="DATE" />
		<result column="createdTime" property="createdTime" jdbcType="DATE" />
		<result column="lastModifyTime" property="lastModifyTime" jdbcType="DATE" />
		
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="createdBy" property="createdBy" jdbcType="VARCHAR" />
		<result column="updatedBy" property="updatedBy" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		
		<result column="delFlag" property="delFlag" jdbcType="TINYINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		userId,userName,password,
		occurrencedTime,endTime,createdTime,lastModifyTime,
  		owner,createdBy,updatedBy,remark,delFlag
	</sql>
	<!--根据主键 物理删除 返回影响的行数 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user
		where userId = #{userId,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="ty.pms.model.user.UserCriteria">
		insert into user (<include refid="Base_Column_List" />)
		values(
		#{userId,jdbcType=VARCHAR},
		#{userName,jdbcType=VARCHAR}, 
		#{password,jdbcType=VARCHAR},	
		#{occurrencedTime,jdbcType=DATE},
		#{endTime,jdbcType=DATE},
		#{createdTime,jdbcType=DATE},
		#{lastModifyTime,jdbcType=DATE},
		#{owner,jdbcType=VARCHAR},
		#{createdBy,jdbcType=VARCHAR}, 
		#{updatedBy,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}, 
		#{delFlag,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="ty.pms.model.user.UserCriteria">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				userId,
			</if>
			<if test="userName != null">
				userName,
			</if>
			<if test="password != null">
				password,
			</if>
			
			<if test="occurrencedTime != null">
				occurrencedTime,
			</if>
			<if test="endTime != null">
				endTime,
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime,
			</if>
			<if test="createdTime != null">
				createdTime,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="createdBy != null">
				createdBy,
			</if>
			<if test="updatedBy != null">
				updatedBy,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="delFlag != null">
				delFlag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="occurrencedTime != null">
				#{occurrencedTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				#{endTime,jdbcType=DATE},
			</if>
			<if test="lastModifyTime != null">
				#{lastModifyTime,jdbcType=DATE},
			</if>
			<if test="createdTime != null">
				#{createdTime,jdbcType=DATE},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				#{delFlag,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="ty.pms.model.user.UserCriteria">
		update user
		<set>
			<if test="userName != null">
				userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="occurrencedTime != null">
				occurrencedTime=#{occurrencedTime,jdbcType=DATE},
			</if>
			<if test="endTime != null">
				endTime=#{endTime,jdbcType=DATE},
			</if>
			<if test="lastModifyTime != null">
				lastModifyTime=#{lastModifyTime,jdbcType=DATE},
			</if>
			<if test="createdTime != null">
				createdTime=#{createdTime,jdbcType=DATE},
			</if>
			<if test="owner != null">
				owner=#{owner,jdbcType=VARCHAR},
			</if>
			<if test="createdBy != null">
				createdBy=#{createdBy,jdbcType=VARCHAR},
			</if>
			<if test="updatedBy != null">
				updatedBy=#{updatedBy,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark=#{remark,jdbcType=VARCHAR}, 
			</if>
			<if test="delFlag != null">
				delFlag=#{delFlag,jdbcType=TINYINT}
			</if>
		</set>
		where userId = #{userId,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="ty.pms.model.user.UserCriteria">
		update user 
		set 
		userName = #{userName,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		occurrencedTime=#{occurrencedTime,jdbcType=DATE}),
		endTime=#{endTime,jdbcType=DATE}),
		createdTime=#{createdTime,jdbcType=DATE}),
		lastModifyTime=#{lastModifyTime,jdbcType=DATE}),
		owner=#{owner,jdbcType=VARCHAR},
		createdBy=#{createdBy,jdbcType=VARCHAR}, 
		updatedBy=#{updatedBy,jdbcType=VARCHAR}),
		remark=#{remark,jdbcType=VARCHAR}, 
		delFlag=#{delFlag,jdbcType=TINYINT})
		where
		userId = #{userId,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userId = #{userId,jdbcType=VARCHAR}
	</select>

	<select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user
		where userName = #{userName,jdbcType=VARCHAR}
	</select>
	
	<select resultType="java.lang.Integer" id="getAllCount">
		SELECT COUNT(*) FROM USER
	</select>
	<select id="getAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>

</mapper>