<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
	<typeAliases>
		<!-- common -->
		<typeAlias type="java.lang.Integer" alias="int"/>
		<typeAlias type="java.lang.String" alias="str"/>
		<typeAlias type="java.util.List" alias="list"/>
		
		<!-- user -->
		<typeAlias type="ty.pms.model.sys.user.UserResult" alias="userResult"/>
		<typeAlias type="ty.pms.model.sys.user.UserCriteria" alias="userCriteria"/>
		<typeAlias type="ty.pms.model.sys.user.User" alias="user"/>
		
		<!-- unit -->
		<typeAlias type="ty.pms.model.common.unit.UnitResult" alias="unitResult"/>
		<typeAlias type="ty.pms.model.common.unit.UnitCriteria" alias="unitCriteria"/>
		<typeAlias type="ty.pms.model.common.unit.Unit" alias="unit"/>
		
		
	</typeAliases>
	
    <mappers>  
        <mapper resource="ty/pms/mapping/accounting/UserMapper.xml"/>  
         <mapper resource="ty/pms/mapping/accounting/UnitMapper.xml"/>  
    </mappers> 
     
</configuration>